<section id="section-about">
    <div class="container headerline" id="About">
        <div class="row">
            <div class="twelvecol">
                <h1>
            <span class="stregleft">&nbsp;</span>
            <span class="stregcenter">About</span>
            <span class="stregright">&nbsp;</span>
        </h1>
            </div>
        </div>
    </div>
    
    {% for a in site.about %}
    <div class="customdansk">
        <div class="aboutwrapper">
            <div class="container">
                <div class="row abouttext">
                    <div class="twelvecol">
                        <p>
                            {{ a.aboutdk }}
                        </p>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon3">Digital</div>
                            <h6>Digital</h6>
                            <p><strong>Fuldservice digitalt bureau – kåret som årets webbureau i Danmark 2011</strong>
                                <br />Vores digitale specialister, indenfor IA, kodning, koncept og ide, udvikler dynamiske hjemmesider,
                                effektive bannere, Apps og meget, meget mere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon4">dialog</div>
                            <h6>DIRECT & CEM</h6>
                            <p><strong>Vinder af Advertising Effectiveness Awards i 2014 og 2015 med kunde/loyalitetsprogrammer</strong>
                                <br />Vi tilbyder samtlige kompetencer indenfor customer experience management, one2one dialog,
                                direct marketing og CRM. Fra strategi, customer connection mapping, koncept og idé, teknisk
                                implementering, regelarkitektur, loyalty management, automatisering, datahandling til CLC,
                                CEM og CRM outsourcing og hosting. Vi udvikler og drifter omfattende kundeprogrammer, som
                                for eksempel SPORT-MASTER, IKEA Family, COOP, CPH Advantage, NNIT, Shell og Sydbank - samt
                                udtænker, producerer og eksekverer integrerede directkampagner på tværs af medier, målgrupper
                                og platforme.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon6">Social</div>
                            <h6>Social</h6>
                            <p><strong>Vinder af adskillige Facebook awards siden 2007</strong>
                                <br />Vores social-specialister har fokus på Community Management, Social Media strategi samt Social
                                Media kampagner. Vi optimerer din tilstedeværelse på sociale medier og gør det til en værdifuld
                                forretning. Vi har vundet adskillige priser i Danmark og globalt for vores effektive og nytænkende
                                social media kampagner.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon2">billede</div>
                            <h6>advertising</h6>
                            <p><strong>Top 3 reklamebureau i Bureauanalysen 2013</strong>
                                <br />Vores seniorkreative udvikler medie-neutrale, organiserende ideer, der giver dig gennemtrængende
                                kommunikation på tværs af medier. Vi står bag nogle af Danmarks mest populære kampagner,
                                blandt andet IKEA "Kvalitetstestet-af-hverdagen", Tryg "Det handler egentlig ikke om forsikring"
                                og Synoptik. Vi ved fra erfaring, at en rigtig god reklamefilm, med den rette cross media
                                integration bogstaveligt talt kan ændre din forretning på en måned.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon5">billede</div>
                            <h6>film</h6>
                            <p><strong>Vores filmafdeling Pegasus Production producerer mere end 150 film hvert år</strong>
                                <br />Vores erfarne in-house producere og VFX artists arbejder sammen med de bedste filmhold og
                                instruktører. For os handler det nemlig frem for alt om kvalitet, uanset om du skal have
                                produceret mindre low-cost skiltefilm eller store og omfattende reklamefilm.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon1">branding</div>
                            <h6>branding</h6>
                            <p><strong>Forbrugere møder dit brand i mange forskellige connection points</strong>
                                <br />Derfor er det helt essentielt, at din brand-identitet er både relevant og krystalklar – fra
                                tv-reklamer til emballage design til en kommentartråd på sociale medier. Vores branding-eksperter
                                hjælper dig med at udarbejde brand-strategier og definere dit brands kerne. De primære spørgsmål
                                er: Hvorfor eksisterer dit brand. Hvordan skal dit brand adskille sig fra konkurrenterne
                                og hvad skal du derfor tilbyde og kommunikere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>

                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon7">billede</div>
                            <h6>design</h6>
                            <p><strong>Et krystalklart brand skal have en krystalklar visuel brandidentitet, der fungerer i alle connection points</strong>
                                <br />Fra logotype til emballage til Facebook. Fra et 10x15 meter banner til en 1x2 cm Facebook-annonce.
                                Vores erfarne designere har arbejdet med new media siden begyndelsen og kan udvikle en visuel
                                identitet og brand manual, der virker på tværs af medier.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon8">billede</div>
                            <h6>production</h6>
                            <p><strong>Vi producerer annoncer, bannere, POS og meget, meget mere</strong>
                                <br />Når din visuelle identitet er på plads, skal det være nemt at implementere og til at betale.
                                Derfor tilbyder vi produktion af høj kvalitet for kun 700 kr. pr. påbegyndt time, med direkte
                                kontakt til vores dygtige og erfarne grafikere og DTP'ere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    
    
    
    
    
    <!--<div class="customdansk">
        <div class="aboutwrapper">
            <div class="container">
                <div class="row abouttext">
                    <div class="sixcol">
                        <p>
                            Hos Hjaltelin Stahl er vi eksperter i forbrugeradfærd og new media. I 2015 følger forbrugerne ikke en lineær købsadfærd,
                            men gennemgår i stedet en semikaotisk købsproces, hvor de møder dit og dine konkurrenters brand
                            i mange forskellige connection points. Online og offline.
                            <br />Skarp og gennemtrængende kommunikation i paid, owned og earned media på tværs af disse connection
                            points er essentielt for at vinde.
                        </p>
                    </div>
                    <div class="sixcol last">
                        <p>
                            Som kunde hos Hjaltelin Stahl får du derfor et dedikeret cross media team, ledet af en Client Service Director, en Creative
                            Lead og en Project Manager, suppleret af de rette specialister fra dialog, social og digital.
                            <br />
                            <br />Vi kan fungere som dit cross media bureau eller du kan vælge os som dit specialistbureau i én
                            af vores nedenstående kompetencer.
                        </p>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon3">Digital</div>
                            <h6>Digital</h6>
                            <p><strong>Fuldservice digitalt bureau – kåret som årets webbureau i Danmark 2011</strong>
                                <br />Vores digitale specialister, indenfor IA, kodning, koncept og ide, udvikler dynamiske hjemmesider,
                                effektive bannere, Apps og meget, meget mere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon4">dialog</div>
                            <h6>DIRECT & CEM</h6>
                            <p><strong>Vinder af Advertising Effectiveness Awards i 2014 og 2015 med kunde/loyalitetsprogrammer</strong>
                                <br />Vi tilbyder samtlige kompetencer indenfor customer experience management, one2one dialog,
                                direct marketing og CRM. Fra strategi, customer connection mapping, koncept og idé, teknisk
                                implementering, regelarkitektur, loyalty management, automatisering, datahandling til CLC,
                                CEM og CRM outsourcing og hosting. Vi udvikler og drifter omfattende kundeprogrammer, som
                                for eksempel SPORT-MASTER, IKEA Family, COOP, CPH Advantage, NNIT, Shell og Sydbank - samt
                                udtænker, producerer og eksekverer integrerede directkampagner på tværs af medier, målgrupper
                                og platforme.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon6">Social</div>
                            <h6>Social</h6>
                            <p><strong>Vinder af adskillige Facebook awards siden 2007</strong>
                                <br />Vores social-specialister har fokus på Community Management, Social Media strategi samt Social
                                Media kampagner. Vi optimerer din tilstedeværelse på sociale medier og gør det til en værdifuld
                                forretning. Vi har vundet adskillige priser i Danmark og globalt for vores effektive og nytænkende
                                social media kampagner.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon2">billede</div>
                            <h6>advertising</h6>
                            <p><strong>Top 3 reklamebureau i Bureauanalysen 2013</strong>
                                <br />Vores seniorkreative udvikler medie-neutrale, organiserende ideer, der giver dig gennemtrængende
                                kommunikation på tværs af medier. Vi står bag nogle af Danmarks mest populære kampagner,
                                blandt andet IKEA "Kvalitetstestet-af-hverdagen", Tryg "Det handler egentlig ikke om forsikring"
                                og Synoptik. Vi ved fra erfaring, at en rigtig god reklamefilm, med den rette cross media
                                integration bogstaveligt talt kan ændre din forretning på en måned.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon5">billede</div>
                            <h6>film</h6>
                            <p><strong>Vores filmafdeling Pegasus Production producerer mere end 150 film hvert år</strong>
                                <br />Vores erfarne in-house producere og VFX artists arbejder sammen med de bedste filmhold og
                                instruktører. For os handler det nemlig frem for alt om kvalitet, uanset om du skal have
                                produceret mindre low-cost skiltefilm eller store og omfattende reklamefilm.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon1">branding</div>
                            <h6>branding</h6>
                            <p><strong>Forbrugere møder dit brand i mange forskellige connection points</strong>
                                <br />Derfor er det helt essentielt, at din brand-identitet er både relevant og krystalklar – fra
                                tv-reklamer til emballage design til en kommentartråd på sociale medier. Vores branding-eksperter
                                hjælper dig med at udarbejde brand-strategier og definere dit brands kerne. De primære spørgsmål
                                er: Hvorfor eksisterer dit brand. Hvordan skal dit brand adskille sig fra konkurrenterne
                                og hvad skal du derfor tilbyde og kommunikere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>

                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon7">billede</div>
                            <h6>design</h6>
                            <p><strong>Et krystalklart brand skal have en krystalklar visuel brandidentitet, der fungerer i alle connection points</strong>
                                <br />Fra logotype til emballage til Facebook. Fra et 10x15 meter banner til en 1x2 cm Facebook-annonce.
                                Vores erfarne designere har arbejdet med new media siden begyndelsen og kan udvikle en visuel
                                identitet og brand manual, der virker på tværs af medier.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon8">billede</div>
                            <h6>production</h6>
                            <p><strong>Vi producerer annoncer, bannere, POS og meget, meget mere</strong>
                                <br />Når din visuelle identitet er på plads, skal det være nemt at implementere og til at betale.
                                Derfor tilbyder vi produktion af høj kvalitet for kun 700 kr. pr. påbegyndt time, med direkte
                                kontakt til vores dygtige og erfarne grafikere og DTP'ere.
                            </p>
                            <p><span class="readmore">Læs mere</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="customenglish">
        <div class="aboutwrapper">
            <div class="container">
                <div class="row abouttext">
                    <div class="sixcol">
                        <p>
                            We are experts in new buying behaviour and new media. In 2015 people do not go through linear buying processes but engage
                            in semi-chaotic connections with yours and your competitors brands. Cut through communication
                            in Paid, Owned and Earned media across these connection points is the key to winning. Therefore
                            as a client in Hjaltelin Stahl you get a dedicated cross media Brand Team.
                        </p>
                    </div>
                    <div class="sixcol last">
                        <p>
                            It's headed by a Client Service Director, Creative Lead and Project Manager, and supported by relevant specialists from planning,
                            dialog, social and digital.
                            <br />
                            <br />You can choose Hjaltelin Stahl as your cross media agency or as you specialist agency in one
                            of our below competencies.

                        </p>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon3">Digital</div>
                            <h6>Digital</h6>
                            <p><strong>Full service digital agency voted best web agency in Denmark 2011</strong>
                                <br />Digital experts from IA to coding to digital creatives makes dynamic websites, effective
                                banner campaigns, Apps and much much more
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon4">dialog</div>
                            <h6>dialog</h6>
                            <p><strong>Most nominated agency in Danish Direct Marketing awards 2013</strong>
                                <br />Competencies range from Dialog Strategy, technical implementation and hosting, to experienced
                                dialog creative. We run big dialog programs such as IKEA Family and Cph Advantage and we
                                make on as well as offline direct campaigns.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon6">Social</div>
                            <h6>Social</h6>
                            <p><strong>Winner of numerous awards on Facebook since 2007</strong>
                                <br />Our Social experts focus on Community Management, social media strategy as well as Social
                                media campaigns. We optimize your social media community and turn it into real business.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon2">advertising</div>
                            <h6>advertising</h6>
                            <p><strong>Voted top 3 advertising agency in Denmark, we are behind some of Denmark´s most popular campaigns</strong>
                                <br />Our Senior Creatives develops media neutral, organizing ideas that gives you cut through
                                communication in any media. We are the creatives behind i.e. IKEA "Kvalitetstestet-af-hverdagen",
                                Tryg "Det handler egentlig ikke om forsikring" and Synoptik. We know from experience that
                                an excellent TV commercial with good cross media integration can literally change your business
                                in a month.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row expertise">
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon5">film</div>
                            <h6>film</h6>
                            <p><strong>In Pegasus Production we make more than 150 film productions every year</strong>
                                <br />From low cost adaption to "10 shooting days production" we work with the best directors and
                                our experienced in-house producers as well as the VFX experts focus on quality in everything
                                we do.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon1">branding</div>
                            <h6>branding</h6>
                            <p><strong>People will meet your brand in various connection points</strong>
                                <br />From a TV commercial to packaging to a conversation on social media. Therefore your Brand
                                Identity needs to be relevant and crystal clear Our branding experts help you define your
                                Brand Core. Key question are; Why does your brand exist? How you should your brand be different
                                from competition and What you should therefore offer and communicate?
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>

                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <div class="insideheight">
                            <div class="icon7">design</div>
                            <h6>design</h6>
                            <p><strong>A crystal clear brand has a crystal clear Visual Brand Identity that works in all connection points</strong>
                                <br />Having worked with new media since it was really new, our designers are experienced in making
                                CVIs that work in all media. From logotype to packaging to facebook. From the 10*15 meter
                                banner to the 1*2cm facebook ad.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="insideheight">
                            <div class="icon8">billede</div>
                            <h6>production</h6>
                            <p><strong>Making ads, banners, in-store material etc.</strong>
                                <br />Making ads, banners, in-store material etc. when a concept and a CVI is in place should be
                                easy and shouldn´t cost a fortune. That's why we offer high quality production a DK 700 per
                                hour and with direct contact to our excellent DTPs.
                            </p>
                            <p><span class="readmore">Read more</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</section>