<section id="section-about">
    <div class="container headerline" id="About">
        <div class="row">
            <div class="twelvecol">
                <h1>
            <span class="stregleft">&nbsp;</span>
            <span class="stregcenter">About</span>
            <span class="stregright">&nbsp;</span>
        </h1>
            </div>
        </div>
    </div>
    
    {% for a in site.about %}
    <div class="customdansk">
        <div class="aboutwrapper">
            <div class="container">
                <div class="row abouttext">
                    <div class="twelvecol">
                        <p>
                            {{ a.aboutdk }}
                        </p>
                    </div>
                </div>
                
                    
                    {% for badge in site.badges %}
                        {% cycle '<div class="row expertise">','','','' %}
                        <div class="threecol {% cycle '','','','last' %}">
                            <div class="insideheight">
                                <div class="badge" style="background-image:url({{badge.thumbnail}})">Digital</div>
                                <h6>{{badge.title}}</h6>
                                {{badge.textdk | markdownify}}
                                <p><span class="readmore">Læs mere</span>
                                </p>
                            </div>
                        </div>
                        {% cycle '', '<div class="Mobileclearfix"></div>' %}
                        {% cycle '','','','</div>' %}
                    {% endfor %}

                
                
            </div>
        </div>
    </div>
    
    <div class="customenglish">
        <div class="aboutwrapper">
            <div class="container">
                <div class="row abouttext">
                    <div class="twelvecol">
                        <p>
                            {{ a.aboutuk }}
                        </p>
                    </div>
                </div>
                
                    {% assign sorted_badges = (site.badges | sort: 'position') %}
                    {% for badge in sorted_badges %}
                        {% cycle '<div class="row expertise">','','','' %}
                        <div class="threecol {% cycle '','','','last' %}">
                            <div class="insideheight">
                                <div class="badge" style="background-image:url({{badge.thumbnail}})">Digital</div>
                                <h6>{{badge.titleuk}}</h6>
                                {{badge.textuk | markdownify}}
                                <p><span class="readmore">Read more</span>
                                </p>
                            </div>
                        </div>
                        {% cycle '', '<div class="Mobileclearfix"></div>' %}
                        {% cycle '','','','</div>' %}
                    {% endfor %}

                
                
            </div>
        </div>
    </div>
    {% endfor %}
</section>