<section id="section-awards">
    <div class="custom">
        <div class="awardwrapper">
            <div class="container headerline" id="Awards">
                <div class="row">
                    <div class="twelvecol">
                        <h1>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">AWARDS <sup>and</sup> HONORS</span>
                            <span class="stregright">&nbsp;</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% for award in site.awards reversed %}
                    <div class="fourcol {% cycle '', '', 'last' %}">
                        <div class="award-logo" style="background-image: url({{award.logo}})"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">{{award.title}}</span>
                            </span>
                        </span>
                        <p class="priceyear">{{award.tekst}}</p>
                    </div>
                    {% cycle '', '', '  
                </div>
                <div class="row splitterawards"></div>
                <div class="row">
                    ' %}
                {% endfor %}    
            </div>
        </div>
    </div>
    
    <!--
    <div class="custom">
        <div class="awardwrapper">
            <div class="container headerline" id="Awards">
                <div class="row">
                    <div class="twelvecol">
                        <h1>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">AWARDS <sup>and</sup> HONORS</span>
                            <span class="stregright">&nbsp;</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="fourcol">
                        <div class="aw2"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Creative Circle Awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2015 - 2013 - 2012 - 2011 - 2010 - 2009 - 2008</p>
                    </div>
                    <div class="fourcol">
                        <div class="aw8"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Årets Rambuk</span>
                            </span>
                        </span>
                        <p class="priceyear">2015 - 2012 - 2011</p>
                    </div>
                    <div class="fourcol last">
                        <div class="aw10"></div>
                        <span class="bgleft">
                            <span class="bgright">
                            <span class="pricename">AEA Effectiveness Awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2015 – 2014 (Grand Prix) – 2010 (Grand Prix)</p>
                    </div>
                </div>
                <div class="row splitterawards"></div>
                <div class="row">
                    <div class="fourcol">
                        <div class="aw7"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Echo Awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2014 - 2013 - 2012 - 2011 - 2010</p>
                    </div>
                    <div class="fourcol">
                        <div class="aw9"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Danish digital awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2015</p>
                    </div>
                    <div class="fourcol last">
                        <div class="aw1"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Danish Internet Awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2012 - 2011 - 2008 - 2007 (Grand Prix)</p>
                    </div>
                </div>
                <div class="row splitterawards"></div>
                <div class="row">
                    <div class="fourcol">
                        <div class="aw3"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">The True Award</span>
                            </span>
                        </span>
                        <p class="priceyear">2015 - 2012 - 2011 - 2010 - 2009</p>
                    </div>
                    <div class="fourcol">
                        <div class="aw5"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Epica</span>
                            </span>
                        </span>
                        <p class="priceyear">2013 - 2010 - 2009</p>
                    </div>
                    <div class="fourcol last">
                        <div class="aw12"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Webby Awards</span>
                            </span>
                        </span>
                        <p class="priceyear">2012 (Official honoree)</p>
                    </div>
                </div>
                <div class="row splitterawards"></div>
                <div class="row">
                    <div class="fourcol">
                        <div class="aw4"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Cannes Lions</span>
                            </span>
                        </span>
                        <p class="priceyear">2011 - 2010 - 2009 - 2008</p>
                    </div>

                    <div class="fourcol">
                        <div class="aw11"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">DM-Dagen</span>
                            </span>
                        </span>
                        <p class="priceyear">2011 (Årets ildsjæl) - 2007</p>
                    </div>
                    <div class="fourcol last">
                        <div class="aw6"></div>
                        <span class="bgleft">
                            <span class="bgright">
                                <span class="pricename">Eurobest</span>
                            </span>
                        </span>
                        <p class="priceyear">2010 - 2009 - 2007 (Grandprix)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</section>