<section id="section-cases">
    <div class="container headerline" id="Cases">
        <div class="row">
            <div class="twelvecol">
                <h1>
            <span class="stregleft">&nbsp;</span>
            <span class="stregcenter">Cases</span>
            <span class="stregright">&nbsp;</span>
        </h1>
            </div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_PostDanmark.jpg" class="PostDanmark" alt="Post Danmark App Postkortet" data-header="Post Danmark App Postkortet"
                    data-area="Crossmedia" data-text="Første Hjaltelin Stahl-arbejde for Post Danmark er en stor cross media kampagne, der revitaliserer postkortet som medie og Post Danmark som brand. Det handler om postens nye app POSTKORTET, der gør det nemt at tage billeder med mobilen hvor som helst i verden og sende dem som A5-postkort til familie og venner for bare 19 kr. Kampagnen henvender sig til danskere hjemme i stuen, ved Metro-stationer, i Københavns Lufthavn, på Hovedbanegården, på campingpladser og online.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Post Danmark</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_joflerevier.jpg" class="KrftensBekmpelse" alt="Jo flere vi er, jo mere kan vi gøre" data-header="Jo flere vi er, jo mere kan vi gøre"
                    data-area="Crossmedia" data-text="… sådan lyder titlen på en ny stor crossmedia-kampagne fra Kræftens Bekæmpelse udarbejdet af Hjaltelin Stahl. Kampagnen skal få flere danskere til at melde sig ind i kampen mod kræft – og mens der i filmen skrues helt op for følelserne, bliver vi mere faktuelle og handlende på de digitale, sociale og trykte kanaler. Og så introducerer vi en pendant til selfien, nemlig en “osfie”, der deles på #joflerevier.
">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Kræftens Bekæmpelse</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_onskeskyen1.jpg" class="nskeskyen" alt="Ønskeskyen" data-header="Ønskeskyen" data-area="Crossmedia"
                    data-text="Post Danmark ønsker at gøre det nemmere at handle på nettet. Derfor har vi udviklet den digitale tjeneste Ønskeskyen, der giver dig mulighed for at gemme og dele dine ønsker. Uanset om ønsket findes på nettet eller i en fysisk butik. Ønskeskyen er en gratis tjeneste og findes som app til mobil og tablet – og som Ønskeskyen.dk på computeren. Inden for de første 14 dage har Ønskeskyen ligget nr. 7 i App Store.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Ønskeskyen</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/caseThumb_teliaTV.jpg" class="TeliaTV" alt="Telia TV - Mens du venter" data-header="Telia TV - Mens du venter"
                    data-area="Film" data-text="Vi har alle sammen prøvet at sidde et sted ”derude” og vente. Og vente. Og vente. Hos frisøren. Ved datterens ridestævne. Eller sønnens tubalektion. Med den indsigt har vi pakket Telia TV produktet ind i en underspillet slice-of-life kommunikation, der på tværs af medier fortæller historien om, at Telia TV kan ses hvor som helst, når som helst… når der ventes.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Telia TV</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Film</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Lotto.jpg" class="Lotto" alt="Lotto" data-header="Lotto" data-area="Crossmedia" data-text="Under overskriften &quot;Din kupon. Din Drøm&quot; er vi vendt tilbage til en ægte Lotto-klassiker og har igen gjort kuponen magisk. Så snart, man ser ordet eller rækkerne stå der på linje, så tændes drømmen, og det abstrakte er gjort fysisk og nærværende - og købsopfordrende. For har du husket &quot;din&quot; kupon i denne uge? Det er adgangsbilletten til din drøm, så du må hellere få den købt.

Samtidig er der sat spotlight på det individuelle og personlige i drømmeuniverset. Vi lader en anden person få indsigt i det allermest private, og sammen med ham/hende kan vi frydes, gyse, overraskes. Og ikke mindst inspireres til at reflektere over egne drømme.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Lotto</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Sportmaster_m_logo.jpg" class="Sportmaster" alt="Sportmaster" data-header="Sportmaster"
                    data-area="Crossmedia" data-text="Med udgangspunktet i platformen ”Vild Med Sport” relancerede vi SPORTMASTERs kundeklub med nye relevante fordele, som blev aktiveret og visualiseret gennem forskellige sportsdiscipliner. Gennem individualiserede nyhedsbreve, POS-materialer i butik, involverende aktiviteter på facebook og Instagram samt husstandsomdelte kataloger kom sportspassionen til at leve på samtlige platforme. Og resultatet var vildt. Relanceringen af klubben har betydet, at rekrutteringen af nye medlemmer er steget med 72 % sammenlignet med samme periode sidste år. Samtidig er loyaliteten og omsætningen steget stærkt.
">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Sportmaster</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Karoline.jpg" class="KarolinesKkken" alt="Karolines Køkken" data-header="Karolines Køkken"
                    data-area="Crossmedia" data-text="Karolines Køkken er et brand med en arv – en arv af 50 år med god mad, 50 år med vaskeægte klassikere. Når det er sagt, så er Karolines Køkken også fremadsynet, nytænkende og moderne. Hver dag eksperimenterer Karoline-pigerne i Karolines fysiske køkken med nye smagsnuancer, opskrifter og produkter. Det er denne side af Karolines Køkken, vores kampagne fortæller historien om. Vi inviterer seerne ind i Karolines Køkken, giver dem mulighed for at påvirke opskrifterne og stiller spørgsmålet: Bliver det en klassiker?">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Karolines Køkken</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/caseThumb_suzuki.jpg" class="Suzuki" alt="Suzuki" data-header="Suzuki" data-area="Crossmedia" data-text="Suzuki har i mange år positioneret sig som ”no nonsense”-bilen, hvor man får god kvalitet til fornuftige priser. Men med en række nye, spændende modeller, en ny platform og en ny cross media kampagne har vi nu skruet op for bassen for at slå fast, at man får udsædvanlig meget bil for pengene… Så meget, at selv byboerne kan komme lidt ud i naturen. Ud over outdoor, annoncer og tv-spot består kampagnen af en stribe små film til Facebook og YouTube, som netop arbejder på disse mediers præmisser.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Suzuki</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/testetaf-hverdagen.jpg" class="IKEA" alt="IKEA" data-header="IKEA" data-area="Crossmedia" data-text="I 2009 stod IKEA overfor udfordringen, at mange ikke forbandt IKEAs produkter med kvalitet – da kvalitet i manges bevidsthed var forbundet med høje priser fra eksklusive brands.

For at ændre danskernes opfattelse udsatte vi derfor IKEAs produkter for den hårdeste test af alle, hverdagen – under filmkonceptet &quot;Kvalitetstestet af hverdagen&quot;. Konceptet kørte helt frem til efteråret 2012 med mere end 10 prisvindende reklamefilm.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">IKEA</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_TrygPlus.jpg" class="TrygPlus" alt="Tryg Plus" data-header="Tryg Plus" data-area="Crossmedia"
                    data-text="Det handler egentlig ikke om forsikring. Det handler om, at Tryg er gået i luften med en række nye fordele til situationer, hvor selv en god forsikring ikke helt er nok. Hjaltelin Stahl udviklede en indsigtsbaseret kampagne, hvor viden om forbrugernes bekymringer kobles med konkrete fordele. Det illustreres i en film, i online bannere og i en særlig direct mail, hvor en forhåndsåbnet kuvert prikker til bekymringen for identitetstyveri og viser vigtigheden af et forsikringsselskab, der skaber tryghed.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Tryg Plus</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/case-synoptik.jpg" class="Synoptik" alt="Synoptik" data-header="Synoptik" data-area="Crossmedia" data-text="Konkurrencen på optikermarkedet er hårdere end nogen sinde og der er brug for såvel branding som løbende taktiske kampagner. Nogle af de vigtigste medier er TV og butikkerne. Vi har udviklet brandet &quot;Synoptik kvalitet til super skarpe priser&quot; med en gennemført Brand Identitet og særdeles effektive film og butiksmaterialer. Resultatet har været stigende trafik og salg og en række film, der er blevet uhyre populære i målgruppen. ">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Synoptik</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/cases_sydbank_historier01.jpg" class="SydbankHistorier" alt="Sydbank - Historier" data-header="Sydbank - Historier"
                    data-area="Crossmedia" data-text="Sydbank er rigtig glad for tal og endnu gladere for mennesker. Det førte til en crossmedia imagekampagne med en række stærke dokumentarfilm, annoncer, bannere mv. Alt leder ind til kampagnesitet sydbank.dk/historier med længere og endnu flere portrætter og muligheder for skabe en ny bankrelation.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Sydbank Historier</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_EJP.jpg" class="Eurojackpot" alt="Eurojackpot" data-header="Eurojackpot" data-area="Crossmedia"
                    data-text="I Lotto vinder man mange penge, i Eurojackpot vinder man rigtig mange penge. Vores Eurojackpot univers taler til den lidt yngre målgruppe og visualiserer, hvor ekstreme præmiesummer der spilles om i det europæiske Lotto med miniumgevinster på 63 mio.kr. ugentligt. Det gøres i et humoristisk 2-trins greb, hvor vi først placerer vores hovedperson i en attraktiv situation, som havde han lige vundet den store gevinst – og så trumfer med at skrue endnu mere op for ekstravagancen. ”Vind store penge. Rigtig store penge.”">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Eurojackpot</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/case-venstre.jpg" class="Venstre" alt="Venstre – Huskeseddel til Helle" data-header="Venstre – Huskeseddel til Helle"
                    data-area="Crossmedia" data-text="Få dage inden valgdagen i 2011 indrykkede Socialdemokratiet en aggressiv post-it annonce. Det var derfor nødvendigt for Venstre at dementere deres angreb med fakta – hurtigt og effektivt.

Vi udviklede derfor en &quot;Huskeseddel til Helle&quot;. En fysisk post-it med fakta, der dementerede Socialdemokratiets annonce. Sedlen blev overdraget til Helle Thorning Schmidt af daværende statsminister Lars Løkke Rasmussen i en live tv-duel. Umiddelbart efter gik huskesedlen live i online bannere, på Facebook og i printannoncer. Huskesedlen blev hurtigt midtpunkt i samtlige sociale medier og skabte en massiv medieomtale.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Venstre</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Scandlines.jpg" class="Scandlines" alt="Scandlines" data-header="Scandlines" data-area="Crossmedia"
                    data-text="Der er lagt op til røverhistorier fra søfartens barndom, når vi ruller Scandlines nye reklameunivers ud.

Budskabet i det nye reklameunivers er, at ”Der er nu noget ved at sejle. Især nu om dage med de mange bekvemmeligheder man finder på Scandlines-færgerne.”

I gamle dage var det at sejle derimod en helt anden historie, kan vi forstå på Kaptajn Kaspersen, som i skikkelse af skuespilleren Tommy Kenter, der - iført sømandslook og fuldskæg - er frontfiguren i Scandlines nye reklameunivers, i form af tv-spots og massiv online-tilstedeværelse.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Scandlines</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/case-atp2.jpg" class="ATPPension" alt="ATP Pension for alle" data-header="ATP Pension for alle" data-area="Digital"
                    data-text="De fleste synes at pension ligger langt ude i fremtiden og derfor er emnet ofte lav-interesse område, der er svært at få folk til at involvere sig i.

Opgaven var derfor at få danskerne til at involvere sig lidt mere i deres egen pension. Vi udviklede en pensionsportal og tilhørende dialog kommunikation for den store del af danskerne som har mindst tjek på deres pension. Vi gav danskerne ét sted at gå hen, når de var i tvivl om pension. Et sted, hvor de let og enkelt kunne – og fortsat kan - finde viden, råd og inspiration i form af relevante artikler (inddelt i livsfaser), voxpops, film og erfaringsvæg. Resultatet har været over 230.000 besøg i portalens første 6 måneder, hvoraf 5 % af de besøgende har tilmeldt sig pensionforalle.dk.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">ATP Pension</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Digital</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/case-tryg.jpg" class="Tryg" alt="Tryg" data-header="Tryg" data-area="Crossmedia" data-text="I et konkurrerende og generisk marked, var det i 2012 nødvendigt for forsikringsselskabet Tryg at revitalisere deres position som den førende tryghedsleverandør i både Norge og Danmark.

Vi har videreudviklet Trygs kendte platform, så det er muligt både at være emotionel, brandende og samtidig kommunikere konkrete forsikringsprodukter, når det er opgaven. Det handler egentlig ikke om forsikring.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Tryg</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/cases_thumbs_cph_advantage.jpg" class="CphAdvantage" alt="Cph Advantage" data-header="Cph Advantage"
                    data-area="Crossmedia" data-text="12 måneder... mere skulle der ikke til for at aktivere vores medlemmer og deres fordele. Gennem relevant dialog og kommunikation fik vi bevist programmets værd og fastslået, at CPH Advantage er klubben for dig, der vitterlig vil ha' mere. Med en positiv ROI på over 7 opnåede vi målet for CPH Advantage og fik indfriet de høje forventninger, som både medlemmerne og lufthavnen selv havde til fordelsprogrammet.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Cph Advantage</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/case-lugdoner.jpg" class="Lgerudengrnser" alt="Læger uden grænser" data-header="Læger uden grænser"
                    data-area="Film" data-text="Nødhjælpsorganisationer skal være mere og mere konkrete for at få donationer. Du giver dette - så hjælper du således…. Giv en ged konceptet er et godt eksempel på denne udvikling. Denne nye virkelighed var vanskelig for Læger uden Grænser. Det var svært at forklare, hvad der er, du giver, når du hjælper. Derfor lavede vi denne film, der nu bruges af Læger uden Grænser mange steder i hele verden.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Læger uden grænser</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Film</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/case-synstest.jpg" class="Synoptiksynstest" alt="Synoptik synstest" data-header="Synoptik synstest"
                    data-area="Crossmedia" data-text="6 ud af 10 danskere ved ikke, om de går rundt med synsproblemer i større eller mindre omfang. På den baggrund ønskede Synoptik at tilbyde en løsning, som kunne give mulige kunder en indikation af, om de havde behov for at få fortaget en synsprøve eller ej.

I tæt samarbejde med optikere fra Synoptik udviklede vi en helt ny online synstest, som er en web applikation, hvor man kan få testet sit syn indenfor grundlæggende områder. Fra synstesten kan man booke tid direkte i butikkerne. Synstesten er en kæmpesucces, der nu er blevet implementeret i mange lande over hele verden. Den vandt i 2012 to DIA Awards i kategorierne &quot;Retail&quot; og &quot;Onsite&quot;, gjorde Synoptik til årets digitale annoncør og vandt sølv ved ECHO Awards 2012.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Synoptik synstest</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Paii.jpg" class="Paii" alt="Paii" data-header="Paii" data-area="Digital" data-text="TDC, Telenor, Telia og 3 har givet danskerne en ny betalingsløsning på mobilen. Paii lader dig bruge din mobil til at betale online – nemt, hurtigt og sikkert. Og du kan selvfølgelig overføre penge til andre. Vi stod for markedsføringen af Paii, som straks efter offentliggørelsen havnede i top 5 over mest downloadede gratis apps.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Paii</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Digital</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/case-rockwool.jpg" class="Rockwool" alt="Rockwool" data-header="Rockwool" data-area="Crossmedia" data-text="Rockwool – verdens største producent af stenulds-isolation skal fortælle en blandet skare af beslutningstagere verden over, historien om, hvorfor Rockwool er det mest naturlige, sikre og miljøvenlige isolationsprodukt.

Løsningen blev et microsite &quot;More than a rock&quot;, hvor vi, med filmportrætter og involverende, innovative apps, fortæller historien, om den store forskel og betydning Rockwool har for lydisolation, brandsikkerhed, miljø og økonomi.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Rockwool</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/case-ksalat.jpg" class="Ksalat" alt="K-salat – Re-branding" data-header="K-salat – Re-branding" data-area="Crossmedia"
                    data-text="I forbindelse med lanceringen af fire nye gourmet-salater ønskede K-salat en markant revitalisering af hele brandet. En grundig brandproces førte til &quot;Gode råvarer og stolte madtraditioner&quot;.

På dette brand udviklede vi en ny film, nyt CVI, helt nyt etikettedesign samt nyt design for deres salater i et design, hvor du næsten kan dufte og smage råvarerne, traditionerne og historien bag K-salat. Modtagelsen af det nye K-salat har været usædvanlig positiv.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">K-salat</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/case-fisketorvet.jpg" class="Fisketorvet" alt="Fisketorvet" data-header="Fisketorvet" data-area="Crossmedia"
                    data-text="I forbindelse med Fisketovet, Copenhagen Mall's, ombygning skulle hovedindgangen, der hvert år passeres af 8 mio. besøgende, erstattes af en 30 m. lang tunnel, som skulle fungere som midlertidig indgang gennem centerets cykelkælder. Vores opgave var derfor at sikre, at den midlertidige indgang blev en oplevelse fremfor et irritationsmoment for de mange besøgende.

Løsningen blev en spektakulær oplevelsestunnel hvor Fisketorvet – Copenhagen Mall - København, byens broer og alle sanser kom i spil via unikke illustrationer og audioinstallationer. Løsningen vandt Bronze i Craft kategorien &quot;Illustration&quot; til Creative Circle Awards 2013.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Fisketorvet</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                        </h2>
                    <h5>
                        <span class="stregleft">&nbsp;</span>
                        <span class="stregcenter jqarea"></span>
                        <span class="stregright">&nbsp;</span>
                        </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/case-atp.jpg" class="ATPPensionsklassen" alt="ATP" data-header="ATP" data-area="Crossmedia" data-text="ATP fik med PensionsKlassen kampagnen rigtig stor succes - både med at styrke danskernes bevidsthed omkring ATP Livslang Pension - og med at udbrede pensionforalle.dk som danskernes foretrukne uvildige pensionssite. Kampagnen konverterede langt over forventning. Af de over 200.000 der besøgte sitet, gennemførte 76.500 mindst en session - eller &quot;en time&quot; som vi kalder det i pensionsklasse terminologi. Det er en samlet konvertering på over 36 % fra interesse (site visit) til involvering.">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">ATP Pensionsklassen</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/telia-thumb876-1.jpg" class="TeliaHBO" alt="Telia - HBO" data-header="Telia - HBO" data-area="Crossmedia"
                    data-text="De bedste oplevelser, hvor det passer dig, når det passer dig.
Telia tilbyder som det eneste teleselskab i Danmark HBO som en del af deres abonnementer. Med Telia 4G får du altså meget mere end bare høj hastighed – du får helt unikke oplevelser. De bedste film og serier, hvor det passer dig, når det passer dig. ">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">Telia - HBO</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_Vestas.jpg" class="Vestas" alt="Vestas" data-header="Vestas" data-area="Film" data-text="På trods af de åbenlyse fordele ved vindenergi er der verden over hver dag vindprojekter, der udsættes pga. skepsis og fordomme omkring generne ved vindmølleanlæg. Vestas har for at imødegå fordomme lanceret Act On Facts-kampagnen. Hjaltelin Stahl udviklede en emotionel kampagnefilm, der sætter scenen for initiativet. Og vi har været på gaden i London, Sverige og København for at spørge almindelige mennesker, hvilke tanker de gør sig om vindenergi.">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">Vestas</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Film</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/case-lug.jpg" class="Donerdinstatus" alt="Doner din status" data-header="Doner din status" data-area="Crossmedia"
                    data-text="I 2011 skulle vi hjælpe Læger uden Grænser med at rette den danske befolknings opmærksomhed mod den glemte katastrofe i Sydsudan og sprede budskabet om landets behov for hjælp.

Løsningen blev en Facebook app, hvor brugeren kunne donere sin Facebook status til Læger uden Grænser og huske andre på katastrofen i Sydsudan via pre-definerede statusbeskeder. App’en vandt sølv i ECHO Awards 2011 og fik desuden flere shortlister til blandt andet Creative Circle Award, DM-dagen samt Eurobest.">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">Doner din status</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
    <div class="container grid ">
        <div class="row">

            <div class="threecol">
                <div>
                    <img src="images/cases/case-sydbank.jpg" class="Sydbanktil" alt="1825" data-header="1825" data-area="Crossmedia" data-text="Ungeprogrammet 18/25 udlever Sydbanks mantra ”Hvad kan vi gøre for dig” ved at skabe et levende online bankunivers på desktops, smartphones og tablets. Et bankunivers, hvor de unge kan spejle sig i hinanden og ikke bliver mødt af løftede voksne uha-uha-pegefingre. Skræddersyede unge-bankprodukter, gode råd og simple beregnere og værktøjer til at få et fornuftigt forhold til deres penge og mulighed for at udleve deres drømme.">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">Sydbank 18 til 25</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_CPH_Parking.jpg" class="CPHParking" alt="CPH Parking Your Way" data-header="CPH Parking Your Way"
                    data-area="Crossmedia" data-text="Under kampagne-konceptet ”Parking your way” fik vi vist og bevist, at parkering i Lufthavnen er mere end 13m2 kedelig asfalt. Når kunderne bookede deres P-plads online, stillede vi dem et par uddybende, personlige spørgsmål om, hvor de skulle hen, og hvad de lavede i deres fritid. Denne viden brugte vi aktivt i udviklingen af fem unikke og personlige P-pladser i 3D, som vi overraskede de heldige vindere med.">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">CPH Parking</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="Mobileclearfix"></div>
            <div class="threecol">
                <div>
                    <img src="images/cases/caseThumb_SkyggeHygge.jpg" class="Skrunedforsolen" alt="Skru ned for solen #Skyggehygge" data-header="Skru ned for solen #Skyggehygge"
                    data-area="Crossmedia" data-text="Danskerne er glade for solen… Lidt for glade. Derfor satte Kræftens Bekæmpelse og TrygFonden sig for at skrue ned for solen i løbet af sommeren 2014 og flytte danskernes hygge ind i skyggen mellem 12 og 15, hvor solen er skarpest. Det hjalp vi dem med gennem en bred kampagnevifte af TVC’er, social media-aktivitet og bannere på tværs af medier. Og selvom det er en alvorlig sag at informere og forebygge mod kræft i huden, så handlede kampagnen om at lave en masse god skyggehygge i løbet af sommeren - hyg med her…">
                    <h4>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Skru ned for solen</span>
                <span class="stregright">&nbsp;</span>
            </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
            <div class="threecol last">
                <div>
                    <img src="images/cases/caseThumb_volapyk.jpg" class="ATPkendskabskampagne" alt="ATP kendskabskampagne - børn" data-header="ATP kendskabskampagne - børn"
                    data-area="Crossmedia" data-text="”Pension er noget, man sparer op i en kiste” er bare et af de mange guldkorn, der kommer, når man lader børn reflektere over pensionsbegreber. Og det er netop det kreative greb, vi har benyttet i en større kampagneindsats fra ATP. Målet var – og er – at afskaffe pensions-volapyk og gøre det indviklede enkelt. En stribe små film med børn blev vores døråbner til sitet pensionforalle.dk, hvor pension blev bragt i øjenhøjde.">
                    <h4>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">ATP kendskabskampagne</span>
                            <span class="stregright">&nbsp;</span>
                        </h4>
                    <p>Crossmedia</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container dropdownslider" style="display:none;">
        <div class="hey">
            <img src="images/close.png" class="close" alt="close">
            <div class="container">
                <div class="headerslider">
                    <h2 class="jqheader">           
                </h2>
                    <h5>
                <span class="stregleft">&nbsp;</span>
                <span class="stregcenter jqarea"></span>
                <span class="stregright">&nbsp;</span>
                </h5>
                </div>
            </div>
            <div class="slidertopcontent jqtext"></div>
            <div class="royalSlider rsDefault slider"></div>
        </div>
    </div>
</section>

<script>
    var messages = {
        PostDanmark: '<a class="rsImg" data-rsBigImg="images/cases/postkort-case-01.jpg" href="images/cases/postkort-case-01.jpg" data-rsVideo="http://youtu.be/XHcfZYlNHOM" ></a><a class="rsImg" data-rsBigImg="images/cases/postkort-case-02.png" href="images/cases/postkort-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/postkort-case-03_1.png" href="images/cases/postkort-case-03_1.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/postkort-case-04.png" href="images/cases/postkort-case-04.png" data-rsVideo="" ></a>',
        KrftensBekmpelse: '<a class="rsImg" data-rsBigImg="images/cases/joflervier-case-01.jpg" href="images/cases/joflervier-case-01.jpg" data-rsVideo="http://youtu.be/VgCUMdRmLHQ" ></a><a class="rsImg" data-rsBigImg="images/cases/joflervier-case-02.jpg" href="images/cases/joflervier-case-02.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/joflervier-case-03.png" href="images/cases/joflervier-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/joflervier-case-04.png" href="images/cases/joflervier-case-04.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/joflervier-case-05-1.png" href="images/cases/joflervier-case-05-1.png" data-rsVideo="" ></a>',
        nskeskyen: '<a class="rsImg" data-rsBigImg="images/cases/onskeskyen-case-01.jpg" href="images/cases/onskeskyen-case-01.jpg" data-rsVideo="https://www.youtube.com/watch?v=-rMSrCnO9NY" > </a><a class="rsImg" data-rsBigImg="images/cases/onskeskyen-case-02.png" href="images/cases/onskeskyen-case-02.png" data-rsVideo="" > </a><a class="rsImg" data-rsBigImg="images/cases/onskeskyen-case-03.png" href="images/cases/onskeskyen-case-03.png" data-rsVideo="" > </a><a class="rsImg" data-rsBigImg="images/cases/onskeskyen-case-04.png" href="images/cases/onskeskyen-case-04.png" data-rsVideo="" > </a>',
        TeliaTV: '<a class="rsImg" data-rsBigImg="images/cases/teliatv-case-01.jpg" href="images/cases/teliatv-case-01.jpg" data-rsVideo="http://youtu.be/Em35RXJgVyg" ></a><a class="rsImg" data-rsBigImg="images/cases/teliatv-case-02.jpg" href="images/cases/teliatv-case-02.jpg" data-rsVideo="http://youtu.be/zmK_0gBdTEI" ></a>',
        Lotto: '<a class="rsImg" data-rsBigImg="images/cases/lotto-case-001.jpg" href="images/cases/lotto-case-001.jpg" data-rsVideo="http://youtu.be/TZcX8vCGnyY" ></a><a class="rsImg" data-rsBigImg="images/cases/lotto-case-02.jpg" href="images/cases/lotto-case-02.jpg" data-rsVideo="http://youtu.be/ZjixKwkgAgc" ></a><a class="rsImg" data-rsBigImg="images/cases/lotto-case-06.jpg" href="images/cases/lotto-case-06.jpg" data-rsVideo="http://youtu.be/9By1UzcW4So" ></a><a class="rsImg" data-rsBigImg="images/cases/lotto-case-03.jpg" href="images/cases/lotto-case-03.jpg" data-rsVideo="http://youtu.be/pqDDTdXOMMU" ></a><a class="rsImg" data-rsBigImg="images/cases/lotto-case-07.png" href="images/cases/lotto-case-07.png" data-rsVideo="" ></a>',
        Sportmaster: '<a class="rsImg" data-rsBigImg="images/cases/sportmaster-case-01.jpg" href="images/cases/sportmaster-case-01.jpg" data-rsVideo="http://youtu.be/G6XhiMZ9ya8" ></a><a class="rsImg" data-rsBigImg="images/cases/sportmaster-case-05.png" href="images/cases/sportmaster-case-05.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/sportmaster-case-03.png" href="images/cases/sportmaster-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/sportmaster-case-04.png" href="images/cases/sportmaster-case-04.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/sportmaster-case-06.png" href="images/cases/sportmaster-case-06.png" data-rsVideo="" ></a>',
        KarolinesKkken: '<a class="rsImg" data-rsBigImg="images/cases/case-karoline-07.jpg" href="images/cases/case-karoline-07.jpg" data-rsVideo="https://www.youtube.com/watch?v=8R0pFAhRprQ&list=PL_gHF9vtwkV4G-vubem-h6KpXc2NxsRLF" ></a><a class="rsImg" data-rsBigImg="images/cases/case-karoline-02.jpg" href="images/cases/case-karoline-02.jpg" data-rsVideo="https://youtu.be/JnjjokqoOKc" ></a><a class="rsImg" data-rsBigImg="images/cases/case-karoline-03.png" href="images/cases/case-karoline-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/case-karoline-04.png" href="images/cases/case-karoline-04.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/case-karoline-05.png" href="images/cases/case-karoline-05.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/case-karoline-06.png" href="images/cases/case-karoline-06.png" data-rsVideo="" ></a>',
        Suzuki: '<a class="rsImg" data-rsBigImg="images/cases/suzuki-case-01.jpg" href="images/cases/suzuki-case-01.jpg" data-rsVideo="https://youtu.be/SM1hRQXNpP0" ></a><a class="rsImg" data-rsBigImg="images/cases/suzuki-case-02.png" href="images/cases/suzuki-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/suzuki-case-03.png" href="images/cases/suzuki-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/suzuki-case-04.jpg" href="images/cases/suzuki-case-04.jpg" data-rsVideo="https://www.youtube.com/watch?v=1tlrOAZlJgA" ></a><a class="rsImg" data-rsBigImg="images/cases/suzuki-case-05.png" href="images/cases/suzuki-case-05.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/suzuki-case-06.png" href="images/cases/suzuki-case-06.png" data-rsVideo="" ></a>',
        IKEA: '<div><img class="rsImg number1" src="images/cases/ikea-kvalitet-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/ikea-kvalitet-case-02.jpg" href="images/cases/ikea-kvalitet-case-02.jpg" data-rsVideo="http://youtu.be/FZafOZTrImo" ></a><a class="rsImg" data-rsBigImg="images/cases/ikea-kvalitet-case-03.jpg" href="images/cases/ikea-kvalitet-case-03.jpg" data-rsVideo="http://youtu.be/NfhB-n2qQg0" ></a><a class="rsImg" data-rsBigImg="images/cases/ikea-kvalitet-case-04.jpg" href="images/cases/ikea-kvalitet-case-04.jpg" data-rsVideo="http://youtu.be/PqpdpJPfdWk" ></a>',
        TrygPlus: '<div><img class="rsImg number1" src="images/cases/trygplus-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/trygplus-case-02.jpg" href="images/cases/trygplus-case-02.jpg" data-rsVideo="http://youtu.be/ffJg_A0OALY" ></a><a class="rsImg" data-rsBigImg="images/cases/trygplus-case-03.png" href="images/cases/trygplus-case-03.png" data-rsVideo="" ></a>',
        Synoptik: '<div><img class="rsImg number1" src="images/cases/synoptik-alder-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/synoptik-alder-case-05.jpg" href="images/cases/synoptik-alder-case-05.jpg" data-rsVideo="http://youtu.be/6trYvUCKiVg" ></a><a class="rsImg" data-rsBigImg="images/cases/synoptik-alder-case-02.jpg" href="images/cases/synoptik-alder-case-02.jpg" data-rsVideo="http://www.youtube.com/watch?v=6A3mbRJnLpI" ></a><a class="rsImg" data-rsBigImg="images/cases/synoptik-alder-case-03.jpg" href="images/cases/synoptik-alder-case-03.jpg" data-rsVideo="http://www.youtube.com/watch?v=MHJLZ_QEuuY" ></a><a class="rsImg" data-rsBigImg="images/cases/synoptik-alder-case-04.jpg" href="images/cases/synoptik-alder-case-04.jpg" data-rsVideo="http://www.youtube.com/watch?v=1A4AFYWK-hc" ></a>',
        SydbankHistorier: '<a class="rsImg" data-rsBigImg="images/cases/sydbank-case-001.jpg" href="images/cases/sydbank-case-001.jpg" data-rsVideo="http://youtu.be/SiTSAB2bOqw" ></a><a class="rsImg" data-rsBigImg="images/cases/case-sydbank-02.jpg" href="images/cases/case-sydbank-02.jpg" data-rsVideo="http://youtu.be/xEgzzeBTsWs" ></a><a class="rsImg" data-rsBigImg="images/cases/case-sydbank-03.jpg" href="images/cases/case-sydbank-03.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/case-sydbank-04.jpg" href="images/cases/case-sydbank-04.jpg" data-rsVideo="http://youtu.be/1WOC44Fcn6U" ></a><a class="rsImg" data-rsBigImg="images/cases/case-sydbank-06.jpg" href="images/cases/case-sydbank-06.jpg" data-rsVideo="" ></a>',
        Eurojackpot: '<a class="rsImg" data-rsBigImg="images/cases/eurojackpot-case-01.jpg" href="images/cases/eurojackpot-case-01.jpg" data-rsVideo="http://youtu.be/ddsmoFkfCEI" ></a><a class="rsImg" data-rsBigImg="images/cases/eurojackpot-case-02.png" href="images/cases/eurojackpot-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/eurojackpot-case-03.png" href="images/cases/eurojackpot-case-03.png" data-rsVideo="" ></a>',
        Venstre: '<div><img class="rsImg number1" src="images/cases/venstre-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/venstre-case-02.jpg" href="images/cases/venstre-case-02.jpg" data-rsVideo="http://youtu.be/0-Z7AQMoRcQ" ></a><a class="rsImg" data-rsBigImg="images/cases/venstre-case-03.png" href="images/cases/venstre-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/venstre-case-04.png" href="images/cases/venstre-case-04.png" data-rsVideo="" ></a>',
        Scandlines: '<a class="rsImg" data-rsBigImg="images/cases/scandlines-case-01.jpg" href="images/cases/scandlines-case-01.jpg" data-rsVideo="http://youtu.be/yb7jnDYqzLE" ></a><a class="rsImg" data-rsBigImg="images/cases/scandlines-case-02.jpg" href="images/cases/scandlines-case-02.jpg" data-rsVideo="http://youtu.be/Lr7qry_1nas" ></a><a class="rsImg" data-rsBigImg="images/cases/scandlines-case-03.png" href="images/cases/scandlines-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/scandlines-case-04.png" href="images/cases/scandlines-case-04.png" data-rsVideo="" ></a>',
        ATPPension: '<div><img class="rsImg number1" src="images/cases/atp-case-pensionforalle-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/atp-case-pensionforalle-02.jpg" href="images/cases/atp-case-pensionforalle-02.jpg" data-rsVideo="http://youtu.be/tjrai28KGQ4" ></a><a class="rsImg" data-rsBigImg="images/cases/atp-case-pensionforalle-03.png" href="images/cases/atp-case-pensionforalle-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/atp-case-pensionforalle-04.png" href="images/cases/atp-case-pensionforalle-04.png" data-rsVideo="" ></a>',
        Tryg: '<div><img class="rsImg number1" src="images/cases/tryg-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/case-tryg-slide02.jpg" href="images/cases/case-tryg-slide02.jpg" data-rsVideo="http://youtu.be/Dkw6dOs572Q" ></a><a class="rsImg" data-rsBigImg="images/cases/case-tryg-slide03.jpg" href="images/cases/case-tryg-slide03.jpg" data-rsVideo="" ></a>',
        CphAdvantage: '<div><img class="rsImg number1" src="images/cases/cph-advantage-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/cph-advantage-case-02.jpg" href="images/cases/cph-advantage-case-02.jpg" data-rsVideo="http://youtu.be/xJpsUzcwqN8" ></a><a class="rsImg" data-rsBigImg="images/cases/cph-advantage-case-03.png" href="images/cases/cph-advantage-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/cph-advantage-case-04.png" href="images/cases/cph-advantage-case-04.png" data-rsVideo="" ></a>',
        Lgerudengrnser: '<div><img class="rsImg number1" src="images/cases/laeger-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/laeger-case-02.jpg" href="images/cases/laeger-case-02.jpg" data-rsVideo="http://youtu.be/KazHb7Vz8wo" ></a>',
        Synoptiksynstest: '<div><img class="rsImg number1" src="images/cases/synoptik-synstest-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/synoptik-synstest-case-02.jpg" href="images/cases/synoptik-synstest-case-02.jpg" data-rsVideo="http://youtu.be/r_cqSUCu6ng" ></a><a class="rsImg" data-rsBigImg="images/cases/synoptik-synstest-case-03.png" href="images/cases/synoptik-synstest-case-03.png" data-rsVideo="" ></a>',
        Paii: '<a class="rsImg" data-rsBigImg="images/cases/paii-case-01.jpg" href="images/cases/paii-case-01.jpg" data-rsVideo="http://vimeo.com/86106088" ></a><a class="rsImg" data-rsBigImg="images/cases/paii-case-02.png" href="images/cases/paii-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/paii-case-04.png" href="images/cases/paii-case-04.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/paii-case-05.png" href="images/cases/paii-case-05.png" data-rsVideo="" ></a>',
        Rockwool: '<div><img class="rsImg number1" src="images/cases/rockwool-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/rockwool-case-02.jpg" href="images/cases/rockwool-case-02.jpg" data-rsVideo="http://youtu.be/FuWBWN7naLM" ></a><a class="rsImg" data-rsBigImg="images/cases/rockwool-case-03.png" href="images/cases/rockwool-case-03.png" data-rsVideo="" ></a>',
        Ksalat: '<div><img class="rsImg number1" src="images/cases/ksalat-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/ksalat-case-02.png" href="images/cases/ksalat-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/ksalat-case-03.jpg" href="images/cases/ksalat-case-03.jpg" data-rsVideo="http://youtu.be/pLizhWoTB8k" ></a><a class="rsImg" data-rsBigImg="images/cases/ksalat-case-04.jpg" href="images/cases/ksalat-case-04.jpg" data-rsVideo="" ></a>',
        Fisketorvet: '<div><img class="rsImg number1" src="images/cases/fisketorvet-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/fisketorvet-case-02.jpg" href="images/cases/fisketorvet-case-02.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/fisketorvet-case-03.png" href="images/cases/fisketorvet-case-03.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/fisketorvet-case-04.jpg" href="images/cases/fisketorvet-case-04.jpg" data-rsVideo="http://youtu.be/lP9a9rOT3d0" ></a>',
        ATPPensionsklassen: '<div><img class="rsImg number1" src="images/cases/atp-pensionsklassen-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/atp-pensionsklassen-case-02.jpg" href="images/cases/atp-pensionsklassen-case-02.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/atp-pensionsklassen-case-03.jpg" href="images/cases/atp-pensionsklassen-case-03.jpg" data-rsVideo="http://youtu.be/MNughX3UoVs" ></a><a class="rsImg" data-rsBigImg="images/cases/atp-pensionsklassen-case-04.jpg" href="images/cases/atp-pensionsklassen-case-04.jpg" data-rsVideo="" ></a>',
        TeliaHBO: '<div><img class="rsImg number1" src="images/cases/telia-hbo-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/telia-hbo-case-02.jpg" href="images/cases/telia-hbo-case-02.jpg" data-rsVideo="http://youtu.be/sNU7UHQMFUY" ></a>',
        Vestas: '<div><img class="rsImg number1" src="images/cases/vestas-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/vestas-case-02.jpg" href="images/cases/vestas-case-02.jpg" data-rsVideo="http://youtu.be/XoE8h81rBBU" ></a>',
        Donerdinstatus: '<div><img class="rsImg number1" src="images/cases/doner-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/doner-case-02.jpg" href="images/cases/doner-case-02.jpg" data-rsVideo="http://youtu.be/pnqXjDxOFYw" ></a>',
        Sydbanktil: '<div><img class="rsImg number1" src="images/cases/sydbank-1825-case-01.png"  /><div class="rsCaption"></div></div><a class="rsImg" data-rsBigImg="images/cases/sydbank-1825-case-02.jpg" href="images/cases/sydbank-1825-case-02.jpg" data-rsVideo="http://youtu.be/LNkZTFv-0mo" > </a><a class="rsImg" data-rsBigImg="images/cases/sydbank-1825-case-03.jpg" href="images/cases/sydbank-1825-case-03.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/sydbank-1825-case-04.jpg" href="images/cases/sydbank-1825-case-04.jpg" data-rsVideo="http://youtu.be/864xOoZFwy8" ></a>',
        CPHParking: '<a class="rsImg" data-rsBigImg="images/cases/cph-park-case-01.jpg" href="images/cases/cph-park-case-01.jpg" data-rsVideo="https://vimeo.com/86522102" ></a><a class="rsImg" data-rsBigImg="images/cases/cph-park-case-02.png" href="images/cases/cph-park-case-02.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/cph-park-case-03.png" href="images/cases/cph-park-case-03.png" data-rsVideo="" ></a>', 
        Skrunedforsolen: '<a class="rsImg" data-rsBigImg="images/cases/skygge-case-01.jpg" href="images/cases/skygge-case-01.jpg" data-rsVideo="http://youtu.be/gTXg6LxPGFA" ></a><a class="rsImg" data-rsBigImg="images/cases/skygge-case-02.jpg" href="images/cases/skygge-case-02.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/skygge-case-03-1.jpg" href="images/cases/skygge-case-03-1.jpg" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/skygge-case-04.png" href="images/cases/skygge-case-04.png" data-rsVideo="" ></a><a class="rsImg" data-rsBigImg="images/cases/skygge-case-05-1.png" href="images/cases/skygge-case-05-1.png" data-rsVideo="" ></a>',
        ATPkendskabskampagne: '<a class="rsImg" data-rsBigImg="images/cases/volapyk-case-01.jpg" href="images/cases/volapyk-case-01.jpg" data-rsVideo="http://youtu.be/8Ueqr--AQfw" > </a><a class="rsImg" data-rsBigImg="images/cases/volapyk-case-02.jpg" href="images/cases/volapyk-case-02.jpg" data-rsVideo="http://youtu.be/wRTPpdCw5ik" > </a><a class="rsImg" data-rsBigImg="images/cases/volapyk-case-03.jpg" href="images/cases/volapyk-case-03.jpg" data-rsVideo="http://youtu.be/u7VHJpO0gDs" > </a><a class="rsImg" data-rsBigImg="images/cases/volapyk-case-04.png" href="images/cases/volapyk-case-04.png" data-rsVideo="" > </a><a class="rsImg" data-rsBigImg="images/cases/volapyk-case-05.png" href="images/cases/volapyk-case-05.png" data-rsVideo="" > </a><a class="rsImg" data-rsBigImg="images/cases/volapyk-case-06.png" href="images/cases/volapyk-case-06.png" data-rsVideo="" > </a>'
    }
</script>