<div class="custom">
    <section>
        <div class="contactwrapper">
            <div class="container headerline" id="Contact">
                <div class="row">
                    <div class="twelvecol">
                        <h1>
                            <span class="stregleft">&nbsp;</span>
                            <span class="stregcenter">Get in touch</span>
                            <span class="stregright">&nbsp;</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container people">
                    {% assign sorted_contact = (site.contact | sort: 'position') %}
                    {% for person in sorted_contact %}
                        {% cycle 'persons': '<div class="row">','','','' %}
                        <div class="threecol {% if person.white %}white{% endif %} {% cycle '','','','last'%}">
                            <span class="bgleft">
                            <span class="bgright">
                                <span class="peoplename">{{ person.title }}</span>
                            </span>
                            </span>
                            <p class="bosstitle">{{ person.text }}</p>
                            <div class="phonenumber">{{ person.link }}</div>
                            <div class="Cmail"><a href="mailto:{{ person.email }}" title="Send mig en mail">{{ person.email }}</a>
                            </div>
                        </div>
                        {% cycle 'pclearfix': '', '<div class="Mobileclearfix"></div>' %}
                        {% cycle 'pendrow': '','','','</div>' %}
                    {% endfor %}
                    
                    
                    <div class="row share">
                        <div class="twelvecol">
                            <div class="sharewrapper">
                                {% assign sorted_social = (site.social | sort: 'position') %}
                                {% for social in sorted_social %}
                                    <a href="http://www.youtube.com/HjaltelinStahl" class="youtube" target="_blank" rel="nofollow">Youtube</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    
                
                <div class="row share">
                    <div class="twelvecol">
                        <div class="sharewrapper">
                            <a href="http://www.youtube.com/HjaltelinStahl" class="youtube" target="_blank" rel="nofollow">Youtube</a>
                            <a
                            href="https://www.facebook.com/HjaltelinStahl" target="_blank" class="facebook" rel="nofollow">Facebook</a><a href="http://www.linkedin.com/company/hjaltelin-stahl" target="_blank" class="linkdin"
                                rel="nofollow">Linkdin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--<section>
        <div class="contactwrapper">
            <div class="container headerline" id="Contact">
                <div class="row">
                    <div class="twelvecol">
                        <h1>
          <span class="stregleft">&nbsp;</span>
                <span class="stregcenter">Get in touch</span>
                <span class="stregright">&nbsp;</span>
            </h1>
                    </div>
                </div>
            </div>
            <div class="container people">
                <div class="row">
                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename"> Steffen Hjaltelin</span>
                        </span>
                        </span>
                        <p class="bosstitle">CEO & Sr Partner</p>
                        
                    </div>
                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Nicolai Stahl</span>
                        </span>
                        </span>
                        <p class="bosstitle">Executive Creative Director & Sr Partner</p>
                        <div class="phonenumber">+45 - 6010 7777</div>
                        <div class="Cmail"><a href="mailto:ns@hjaltelinstahl.com" title="Send mig en mail">ns@hjaltelinstahl.com</a>
                        </div>
                    </div>

                    <div class="Mobileclearfix"></div>

                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Jens Peter Jensen</span>
                        </span>
                        </span>
                        <p class="bosstitle">Deputy CEO & Sr Partner</p>
                        <div class="phonenumber">+45 - 6037 4848</div>
                        <div class="Cmail"><a href="mailto:jpj@hjaltelinstahl.com" title="Send mig en mail">jpj@hjaltelinstahl.com</a>
                        </div>
                    </div>
                    <div class="threecol last">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Thomas Adamsen</span>
                        </span>
                        </span>
                        <p class="bosstitle">Chief Creative Officer & Sr Partner</p>
                        <div class="phonenumber">+45 - 2630 3515</div>
                        <div class="Cmail"><a href="mailto:ta@hjaltelinstahl.com" title="Send mig en mail">ta@hjaltelinstahl.com</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Lotte Jakobsen</span>
                        </span>
                        </span>
                        <p class="bosstitle">CFO, HRM & Sr Partner</p>
                        <div class="phonenumber">+45 - 6010 7766</div>
                        <div class="Cmail"><a href="mailto:lj@hjaltelinstahl.com" title="Send mig en mail">lj@hjaltelinstahl.com</a>
                        </div>
                    </div>
                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Jonas Sylvest</span>
                        </span>
                        </span>
                        <p class="bosstitle">CEO & Partner – HS Direct</p>
                        <div class="phonenumber">+45 - 6040 0032</div>
                        <div class="Cmail"><a href="mailto:js@hjaltelinstahl.com" title="Send mig en mail">js@hjaltelinstahl.com</a>
                        </div>
                    </div>
                    <div class="Mobileclearfix"></div>
                    <div class="threecol">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Maja Hartmann</span>
                        </span>
                        </span>
                        <p class="bosstitle">Client Service Director & Partner</p>
                        <div class="phonenumber">+45 - 6010 7774</div>
                        <div class="Cmail"><a href="mailto:mh@hjaltelinstahl.com" title="Send mig en mail">mh@hjaltelinstahl.com</a>
                        </div>
                    </div>
                    <div class="threecol last white">
                        <span class="bgleft">
                    <span class="bgright">
                        <span class="peoplename">Hjaltelin Stahl</span>
                        </span>
                        </span>
                        <p class="bosstitle">Vestergade 10B, 3.-4.
                            <br />DK-1456 Copenhagen K</p>

                        <div class="phonenumber">
                            +45 - 3313 7090
                        </div>
                    </div>

                </div>
                <div class="row share">
                    <div class="twelvecol">
                        <div class="sharewrapper">
                            <a href="http://www.youtube.com/HjaltelinStahl" class="youtube" target="_blank" rel="nofollow">Youtube</a>
                            <a
                            href="https://www.facebook.com/HjaltelinStahl" target="_blank" class="facebook" rel="nofollow">Facebook</a><a href="http://www.linkedin.com/company/hjaltelin-stahl" target="_blank" class="linkdin"
                                rel="nofollow">Linkdin</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</div>