<head>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="/lauritzz/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="/lauritzz/css/1140.css" type="text/css" media="screen" />
    <link href="/lauritzz/css/royalslider.css" rel="stylesheet">
    <link href="/lauritzz/css/rs-default.css" rel="stylesheet">
    <link rel="stylesheet" href="/lauritzz/css/styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/lauritzz/css/jquery.mCustomScrollbar.css" type="text/css" media="screen" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/templates/lauritzz/css/ie.css" type="text/css" media="screen" />
    <![endif]-->
    <script language="javascript" src="http://track.adform.net/adfscript/?bn=17164265"></script>
    <noscript>
    <a href="http://track.adform.net/C/?bn=17164265;C=0" target="_blank">
    <img src="http://track.adform.net/adfserve/?bn=17164265;srctype=4;ord=[timestamp]" border="0" width="1920" height="1200" alt=""/>
    </a>
    </noscript>
    <!--<script>
        if (screen.width >= 980) {
            document.write('<script language="javascript" src="http://track.adform.net/adfscript/?bn=17164265" /><noscript><a href="http://track.adform.net/C/?bn=17164265;C=0" target="_blank"><img src="http://track.adform.net/adfserve/?bn=17164265;srctype=4;ord=[timestamp]" border="0" width="1920" height="1200" alt=""/></a></noscript>');
        } 
    </script>-->
    <script type="text/javascript" src="/lauritzz/js/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="/lauritzz/js/modernizr-2.5.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/lauritzz/js/jquery.sidr.min.js"></script>
    <script src="/lauritzz/js/jquery.royalslider.min.js"></script>
    <script src="/lauritzz/js/instagram.min.js"></script>
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="https://track.adform.net/serving/scripts/trackpoint/"></script>
    <!--<script src="/lauritzz/js/hsplugin.js"></script>-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39196213-1']);
        _gaq.push(['_setDomainName', 'hjaltelinstahl.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type='text/javascript'><!--
    (function () {
        var swDc = document.createElement('script');
        swDc.type = 'text/javascript';
        swDc.charset = 'UTF-8';
        swDc.async = true;
        swDc.src = ('https:' === document.location.protocol) ? 'https://a248.e.akamai.net/swordfishinc.download.akamai.com/145199/live/p/490/20fd5302.js' : 'http://media.swordfishdc.com/live/p/490/20fd5302.js';
        var a = document.getElementsByTagName('script')[0];
        a.parentNode.insertBefore(swDc, a);
    }());
    --></script>
</head>



    

    
