<nav>
    <div class="custom_fixedmenu">
        <header>
            <div class="container" id="header">
                <div class="row relativ">
                    <div class="twelvecol">
                        <div id="logo">
                            <a href="/">Hjaltelin Stahl</a>
                        </div>
                        <div class="sprog" id="sprog">
                            <a href="#About">
                                <img src="images/Denmark.png" class="dansk" alt="Dansk" />
                                <img src="images/GreatBritain.png" class="english" alt="English" />
                            </a>
                        </div>
                        <div id="mobile-header">
                            <a id="responsive-menu-button" href="#sidr-main" style="">
                                <img src="images/nav-icon.png" alt="Menu" />
                            </a>
                        </div>
                        <div id="navigationmobile">
                            <nav>
                                <ul>
                                    <li><a href="#Hello">Hello</a>
                                    </li>
                                    <li><a href="#Cases">Cases</a>
                                    </li>
                                    <li><a href="#Clients">Clients</a>
                                    </li>
                                    <li><a href="#Awards">Awards</a>
                                    </li>
                                    <li><a href="#About">About</a>
                                    </li>
                                    <li><a href="#Contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div id="navigation">
                            <nav>
                                <ul>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#Hello" class="den">Hello</a>
                                        <div class="rightw"></div>
                                    </li>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#Cases" class="den">Cases</a>
                                        <div class="rightw"></div>
                                    </li>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#Clients" class="den">Clients</a>
                                        <div class="rightw"></div>
                                    </li>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#Awards" class="den">Awards</a>
                                        <div class="rightw"></div>
                                    </li>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#About" class="den goto">About</a>
                                        <div class="rightw"></div>
                                    </li>
                                    <li>
                                        <div class="leftw"></div>
                                        <a href="#Contact" class="den">Contact</a>
                                        <div class="rightw"></div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</nav>