<section>
    <div class="pressewrapper">
        <div class="moduletable">


            <div class="custom">
                <div id="Prqrewress" class="container headerline">
                    <div class="row">
                        <div class="twelvecol">
                            <h1>
                                <span class="stregleft">&nbsp;</span>
                                <span class="stregcenter">News <sup>and</sup> Press</span>
                                <span class="stregright">&nbsp;</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moduletable">
            <div class="container newsgrid">
                {% assign sorted_news = (site.news | sort: 'position') %}
                {% for new in site.news %}
                    {% cycle '<div class="row">', '', '', '' %}
                    <div class="threecol {% cycle '', '', '', 'last' %}">
                        <div class="inside">
                            <h4>{{new.title}}</h4>
                            <p>{{new.text}}</p>
                            <p class="readmore"><a href="{%if new.newpage%}{{new.url}}{%else%}{{new.link}}{%endif%}">Læs mere</a>
                            </p>
                        </div>
                    </div>
                    {% cycle '','<div class="Mobileclearfix"></div>','','' %}
                    {% cycle '','','','</div>' %}
                {% endfor %}
                    
                    
                    
                
            </div>
        </div>
        
        
        
        <!--<div class="moduletable">
            <div class="container newsgrid">
                <div class="row">
                    <div class="threecol">
                        <div class="inside">
                            <h4>
                Hjaltelin Stahl vokser: 25 medarbejdere alene i år           </h4>
                            <p>Bureauet har nu omkring 100 medarbejdere og sigter mod en bruttoavance på 100 mio. kr</p>
                            <p class="readmore"><a href="http://www.bureaubiz.dk/Nyheder/Artikler/2015/Uge-43/Hjaltelin-Stahl-vokser-25-flere-medarbejdere-alene-i-aar">Læs mere</a>
                            </p>
                        </div>
                    </div>
                    <div class="threecol">
                        <div class="inside">
                            <h4>
                2 nye partnere i Hjaltelin Stahl Direct            </h4>
                            <p>Dermed kommer Hjaltelin Stahl Direct op på fire partnere. Samlet kommer partnerkredsen i Hjaltelin
                                Stahl gruppen op på 10.</p>
                            <p class="readmore"><a href="http://www.bureaubiz.dk/Nyheder/Artikler/2015/Uge-50/2-nye-partnere-i-Hjaltein-Stahl-Direct">Læs mere</a>
                            </p>
                        </div>
                    </div>
                    <div class="Mobileclearfix"></div>
                    <div class="threecol">
                        <div class="inside">
                            <h4>
                Her er Kvicklys nye strategi, som Hjaltelin Stahl skal hjælpe med            </h4>
                            <p>Kvickly har sat gang i en omfattende forandringsproces under rammer 'Det bli'r en god dag', og
                                Hjaltelin Stahl er inviteret med på rejsen.</p>
                            <p class="readmore"><a href="http://www.bureaubiz.dk/Nyheder/Artikler/2015/Uge-48/Her-er-Kvicklys-nye-strategi-som-Hjaltelin-Stahl-skal">Læs mere</a>
                            </p>
                        </div>
                    </div>
                    <div class="threecol last">
                        <div class="inside">
                            <h4>
                Hjaltelin Stahl søger piccolo/piccoline            </h4>
                            <p>Vi søger en sød og imødekommende piccolo/piccoline, der sammen med vores Office Manager, receptionist
                                og piccoline kan bemande vores reception og servicere bureauet og vores kunder.</p>
                            <p class="readmore"><a href="http://www.hjaltelinstahl.com/Job/">Læs mere</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--
                TAS DISABLED
            <iframe frameborder="0" scrolling="no" src="/lauritzz/subscribe.php" allowTransparency="true"></iframe>
            -->
    </div>
</section>