<section>
    <div class="pressewrapper">
        <div class="moduletable">


            <div class="custom">
                <div id="Prqrewress" class="container headerline">
                    <div class="row">
                        <div class="twelvecol">
                            <h1>
                                <span class="stregleft">&nbsp;</span>
                                <span class="stregcenter">News <sup>and</sup> Press</span>
                                <span class="stregright">&nbsp;</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="moduletable">
            <div class="container newsgrid">
                {% assign sorted_news = (site.news | sort: 'position') %}
                {% for new in sorted_news %}
                    {% cycle 'csrow': '<div class="row">', '', '', '' %}
                    <div class="threecol {% cycle 'cslast': '', '', '', 'last' %}">
                        <div class="inside">
                            <h4>{{new.title}}</h4>
                            <p>{{new.text}}</p>
                            <p class="readmore"><a href="{%if new.newpage%}{{new.url}}{%else%}{{new.link}}{%endif%}">Læs mere</a>
                            </p>
                        </div>
                    </div>
                    {% cycle 'csmobile': '','<div class="Mobileclearfix"></div>','','' %}
                    {% cycle 'csend': '','','','</div>' %}
                {% endfor %}
                    
                    
                    
                
            </div>
        </div>
        
    </div>
</section>