<section id="section-referencer">
    <div class="clientwrapper">
        <div class="container headerline" id="Clients">
            <div class="row">
                <div class="twelvecol">
                    <h1>
                        <span class="stregleft">&nbsp;</span>
                        <span class="stregcenter">Clients</span>
                        <span class="stregright">&nbsp;</span>
                    </h1>
                </div>
            </div>
        </div>
        
        <div class="custom">
            <div class="container clientgrid">
                <div class="row theend">
                    <div class="inside">
                        {% for reference in site.referencer reversed %}
                            <div class="threecol {% cycle '', '', '', 'last' %}">
                                <div class="clientlogo" style="background-image: url({{reference.logo}})"></div>
                            </div>
                            {% cycle '', '<div class="Mobileclearfix"></div>', '', '' %}
                            {% cycle '','','','</div><div class="inside">' %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
        
        
        <!--
        <div class="custom">
            <div class="container clientgrid">
                <div class="row theend">
                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client1"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client2"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client3"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client4"></div>
                        </div>
                    </div>

                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client5"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client6"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client7"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client8"></div>
                        </div>
                    </div>

                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client9"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client10"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client11"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client12"></div>
                        </div>
                    </div>

                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client13"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client14"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client15"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client16"></div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client17"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client18"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client19"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client20"></div>
                        </div>
                    </div>
                    <div class="inside">
                        <div class="threecol">
                            <div class="clientlogo client21"></div>
                        </div>
                        <div class="threecol">
                            <div class="clientlogo client22"></div>
                        </div>
                        <div class="Mobileclearfix"></div>
                        <div class="threecol">
                            <div class="clientlogo client23"></div>
                        </div>
                        <div class="threecol last">
                            <div class="clientlogo client24"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        -->
    </div>
</section>