<section>
    <section>
        <div id="Hello" style="padding-top:82px;">
            <div>
                <div id="video-gallery" class="royalSlider videoGallery rsDefault rsMinW">
                    {% assign sorted_carrousel = (site.carrousel | sort: 'position') %}
                    {% for slide in sorted_carrousel %}
                    <div class="rsContent slide6">
                        <img class="rsImg" src="{{ slide.billede_1 }}" alt="hmm">
                        {% if slide.billede_2 != null %}
                        <div class="bContainer">
                            <span class="rsABlock txtCent" data-move-effect="bottom" data-delay="500" data-move-offset="700" data-fade-effect="none">
                                <a href="{{ slide.slidelink }}" target="_blank" rel="nofollow"><img src="{{ slide.billede_2 }}" alt="Hjaltelin Stahl"></a>
                            </span>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </div>
    </section>
</section>

