#section-about {
    div.abouttext {
        div.twelvecol {
            -webkit-column-count: 2; /* Chrome, Safari, Opera */
            -moz-column-count: 2; /* Firefox */
            column-count: 2;
        }
    }
    
    div.badge {
        background-position: top center;
    }
    
}