#section-cases {
    div.row {
        // div.threecol:nth-child(4n+4) {
        //     margin-right: 0px;
        // }
    }
}
.bContainer {
    max-height: 100%;
}
.sharewrapper-social {
    text-align: center;
}
.social-icons {
    margin: 7px;
}

.show-menu {
    display: block !important;
    right: 0px !important;
}