<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include menu.html %}
    
    {% include slider.html %}
    
    {% include cases.html %}
    
    {% include referencer.html %}
    
    {% include awards.html %}
    
    {% include about.html %}
    
    {% include instagram.html %}
    
    {% include press.html %}
    
    {% include contact.html %}

    <div id="sidr-main" class="sidr right" ><div class="sidr-inner">
                <nav>
                    <ul>
                        <li><a href="#Hello">Hello</a>
                        </li>
                        <li><a href="#Cases">Cases</a>
                        </li>
                        <li><a href="#Clients">Clients</a>
                        </li>
                        <li><a href="#Awards">Awards</a>
                        </li>
                        <li><a href="#About">About</a>
                        </li>
                        <li><a href="#Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
         </div>

  </body>

</html>
