<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include menu.html %}
    <div>
        <script>
            if (screen.width >= 980) {
                document.write('<script language="javascript" src="http://track.adform.net/adfscript/?bn=17164265" /><noscript><a href="http://track.adform.net/C/?bn=17164265;C=0" target="_blank"><img src="http://track.adform.net/adfserve/?bn=17164265;srctype=4;ord=[timestamp]" border="0" width="1920" height="1200" alt=""/></a></noscript>');
            } else {
                document.write('<script language="javascript" src="http://track.adform.net/adfscript/?bn=17086367" /><noscript><a href="http://track.adform.net/C/?bn=17086367;C=0" target="_blank"><img src="http://track.adform.net/adfserve/?bn=17086367;srctype=4;ord=[timestamp]" border="0" width="300" height="400" alt=""/></a></noscript>');
            }
        </script>
    </div>
    {% include slider.html %}
    
    {% include cases.html %}
    
    {% include referencer.html %}
    
    {% include awards.html %}
    
    {% include about.html %}
    
    {% include instagram.html %}
    
    {% include press.html %}
    
    {% include contact.html %}

    <div id="sidr-main" class="sidr right" ><div class="sidr-inner">
                <nav>
                    <ul>
                        <li><a href="#Hello">Hello</a>
                        </li>
                        <li><a href="#Cases">Cases</a>
                        </li>
                        <li><a href="#Clients">Clients</a>
                        </li>
                        <li><a href="#Awards">Awards</a>
                        </li>
                        <li><a href="#About">About</a>
                        </li>
                        <li><a href="#Contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
         </div>
    <!-- Adform Tracking Code BEGIN -->
    <script type="text/javascript">
        window._adftrack = {
            pm: 696071
        };
        (function () { var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://track.adform.net/serving/scripts/trackpoint/async/'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
    
    </script>
    <noscript>
        <p style="margin:0;padding:0;border:0;">
            <img src="https://track.adform.net/Serving/TrackPoint/?pm=696071" width="1" height="1" alt="" />
        </p>
    </noscript>
    <!-- Adform Tracking Code END -->
  </body>

</html>
