<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include menu.html %}
    
    <section>
        <div class="container headerline" style="margin-top:100px;margin-bottom:30px;">
            <div class="row">
                <div class="twelvecol">
                <h1>
                    <span class="stregleft">&nbsp;</span>
                    <span class="stregcenter">{{ title }}</span> 
                    <span class="stregright">&nbsp;</span>
                </h1>
                </div>
            </div>
        </div>
    </section>

    <section>
    <div class="container socialcontent">
        <div class="row">
           <div class="sixcol">
              {{ newpage }}
           </div>
<!--           
            <div align="left" class="sixcol last">
                <div>
                <div class="gridet">
                  <div class="col-1">
                     <div>
                        <p>
                            Har du spørgsmål til stillingen, så ring til Trine Petersen på 60107763.
Send os din ansøgning på <a href="mailto:tp@hjaltelinstahl.com">tp@hjaltelinstahl.com</a>
Har du ikke hørt fra os inden d. 16/2 er stillingen besat til anden side. 
                        </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
</section>

  </body>

</html>
